{% extends 'navbar.html' %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="adjust-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-square-o "></i>&nbsp;AWS Details</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">See Website</a></li>
            </ul>
        </div>

    </div>
</div>
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">


            <li >
                <a href="/" style="cursor: pointer;" ><i class="fa fa-home"></i>Home</a>
            </li>
            <li>
                <a class="btn btn-primary btn-lg active"> <i class="fa fa-desktop "></i>EC2 details</a>
                
            </li>

            
        </ul>

    </div>

</nav>
  <!-- /. NAV SIDE  -->
  <div id="page-wrapper" id="tcrow">
      <div id="page-inner">

          <div class="row"> 
              <div class="col-md-4 col-sm-4 col-xs-12" >
                <h5>EBS usage</h5>
                  <div class="panel panel-primary text-center no-boder bg-color-blue">
                      <div class="panel-body">
                          <i class="fa fa-bar-chart-o fa-5x"></i>
                         
                      </div>
                      <div class="panel-footer back-footer-blue">
                          EBS Used
                      
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 ">
                <h5>Instance Details</h5>
                <div class="table-responsive table-hover ">
                    <table class="table">
                        <tbody id="tble">
                           
                            
                                
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h5>CPU Credit details</h5>
              <canvas id="myChart" style=" width: 200%;"></canvas>
                          <script>
                         function canva(){
                          
                          var ctx = document.getElementById("myChart").getContext('2d');
                          var myChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                              labels: ["Credits Left", "CPU Credits",],
                              datasets: [{
                                backgroundColor: [
                                  "#d9534f",
                                  "#5cb85c",
                                  
                                ],
                                data: la
                              }]
                            }
                          });
                                                    }   
                          </script>      
          </div>
              <!-- <div class="col-md-3 col-sm-3 col-xs-6">
                  <h5>Widget Box Two</h5>
                  <div class="alert alert-info text-center">
                      <i class="fa fa-desktop fa-5x"></i>
                      <h3>100$ </h3>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <h5>Widget Box One</h5>
                  <div class="panel panel-primary text-center no-boder bg-color-blue">
                      <div class="panel-body">
                          <i class="fa fa-bar-chart-o fa-5x"></i>
                          <h3>120 GB </h3>
                      </div>
                      <div class="panel-footer back-footer-blue">
                          Disk Space Available
                      
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <h5>Widget Box Two</h5>
                  <div class="alert alert-success text-center">
                      <i class="fa fa-dot-circle-o fa-5x"></i>
                      <h3>100$ </h3>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>
              </div> -->

          </div>
          <!-- /. ROW  -->
          <hr />
          <!-- <div class="row" id="tcrow">
              <div class="col-md-6">
                  <h5>Instance Details</h5>
                  <div class="table-responsive table-hover ">
                      <table class="table">
                          <tbody id="tble">
                             
                              
                                  
                              </tr>
                          </tbody>
                      </table>
                  </div>  
                  
                  
                 


              </div>
              <div class="col-md-6">
                <h5>CPU Credit details</h5>
                <canvas id="myChart" style=" width: 200%;"></canvas>
                            <script>
                           function canva(){
                            
                            var ctx = document.getElementById("myChart").getContext('2d');
                            var myChart = new Chart(ctx, {
                              type: 'doughnut',
                              data: {
                                labels: ["Credits Left", "CPU Credits",],
                                datasets: [{
                                  backgroundColor: [
                                    "#d9534f",
                                    "#5cb85c",
                                    
                                  ],
                                  data: la
                                }]
                              }
                            });
                                                      }   
                            </script>      
            </div>
          
          </div> -->
       

      </div>
      <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
  {% endblock %}
