{% extends 'navbar.html' %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="adjust-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-square-o "></i>&nbsp;AWS Details</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">See Website</a></li>
            </ul>
        </div>

    </div>
</div>
<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">


            <li >
                <a href="/" style="cursor: pointer;" class="btn btn-primary btn-lg active"><i class="fa fa-home"></i>Home</a>
            </li>

           
        </ul>

    </div>

</nav>
  <!-- /. NAV SIDE  -->
  <div id="page-wrapper">
      <div id="page-inner">
          <div id="loading">
                <div class="row">
                <img src="../static/images/loader1.gif" alt="animated" class="img-fluid" />
                <p style="text-align: center;">Please wait 30 Seconds<p>
              </div> 

          </div>
             
        <div id="content1">
          <div class="row" > 
             
              {%if statuscode == 16%}
            <div class="col-md-4 col-sm-4 col-xs-12" >
              <h5>Status</h5>
                <div class="panel panel-primary text-center no-boder bg-success">
                    <div class="panel-body bg-success">
                        <i class="fa fa-play fa-5x"></i>
                        <h3>Running</h3>
                        <h6>Your Instance is Running</h6>
                        
                    </div>
                    <div class="panel-footer">
                        Status code: {{statuscode}}
                    
                    </div>
                </div>
            </div>
            {%elif statuscode == 80%}
            <div class="col-md-4 col-sm-4 col-xs-12" >
                <h5>Status</h5>
                  <div class="panel panel-primary text-center no-boder">
                      <div class="panel-body bg-danger">
                          <i class="fa fa-stop fa-5x"></i>
                          <h3>Stopped</h3>
                          <h6>YOur Instance is Stopped</h6>
                          
                      </div>
                      <div class="panel-footer">
                          Status code: {{statuscode}}
                      
                      </div>
                  </div>
              </div>
            {%endif%}
              <div class="col-md-4 col-sm-4 col-xs-12 ">
                <h5>Instance Details</h5>
                <div class="table-responsive table-hover ">
                    <table class="table">
                        <tbody id="tble">
                           
                            
                                
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h5>CPU Credit details</h5>
              <canvas id="myChart" style=" width: 200%;"></canvas>
                          <script>
                         function canva(){
                          
                          var ctx = document.getElementById("myChart").getContext('2d');
                          var myChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                              labels: ["Credits Left", "CPU Credits",],
                              datasets: [{
                                backgroundColor: [
                                  "#d9534f",
                                  "#5cb85c",
                                  
                                ],
                                data: la
                              }]
                            }
                          });
                                                    }   
                          </script>      
          </div>
              <!-- <div class="col-md-3 col-sm-3 col-xs-6">
                  <h5>Widget Box Two</h5>
                  <div class="alert alert-info text-center">
                      <i class="fa fa-desktop fa-5x"></i>
                      <h3>100$ </h3>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <h5>Widget Box One</h5>
                  <div class="panel panel-primary text-center no-boder bg-color-blue">
                      <div class="panel-body">
                          <i class="fa fa-bar-chart-o fa-5x"></i>
                          <h3>120 GB </h3>
                      </div>
                      <div class="panel-footer back-footer-blue">
                          Disk Space Available
                      
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                  <h5>Widget Box Two</h5>
                  <div class="alert alert-success text-center">
                      <i class="fa fa-dot-circle-o fa-5x"></i>
                      <h3>100$ </h3>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </div>
              </div> -->

          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12" >
                <h5>EBS usage</h5>
                  <div class="panel panel-primary text-center no-boder bg-color-blue">
                      <div class="panel-body">
                          <i class="fa fa-bar-chart-o fa-5x"></i>
                          {%if volumesize > 30%}
                          <h3>{{volumesize}}* GB</h3>
                          <h6>*volume exceeded free tier limit</h6>
                          {%else%}
                          <h3>{{volumesize}} GB<h3>
                          <h6>*{{volleft}} GB left in free tier<h6>
                          {%endif%}
                      </div>
                      <div class="panel-footer back-footer-blue">
                          EBS Used
                      
                      </div>
                  </div>
              </div> 
              {%if statuscode == 16%}
              <div class="col-md-6 col-sm-6 col-xs-12" >
                <h5>Stop</h5>
                  <div class="panel panel-primary no-boder text-center bg-success">
                      <div class="panel-body bg-success" >
                          <h5 style="text-align: center;">Would you like to stop your instance?</h5>
                          <button class="btn btn-danger" onclick="stop()"><i class="fa fa-stop fa-5x"></i></button>
                          <h6>Click me to stop</h6>
                      </div>
                  </div>
              </div>
              {%elif statuscode == 80%}
              <div class="col-md-6 col-sm-6 col-xs-12" >
                <h5>Stop</h5>
                  <div class="panel panel-primary no-boder text-center bg-danger">
                      <div class="panel-body bg-danger" >
                          <h5 style="text-align: center;">Would you like to start your instance?</h5>
                          <button class="btn btn-success" onclick="start()"><i class="fa fa-play fa-5x"></i></button>
                          <h6>Click me to start</h6>
                      </div>
                  </div>
              </div>
              {%endif%}     
            
           

        </div> 
          <!-- /. ROW  -->
          <hr />
          <!-- <div class="row" id="tcrow">
              <div class="col-md-6">
                  <h5>Instance Details</h5>
                  <div class="table-responsive table-hover ">
                      <table class="table">
                          <tbody id="tble">
                             
                              
                                  
                              </tr>
                          </tbody>
                      </table>
                  </div>  
                  
                  
                 


              </div>
              <div class="col-md-6">
                <h5>CPU Credit details</h5>
                <canvas id="myChart" style=" width: 200%;"></canvas>
                            <script>
                           function canva(){
                            
                            var ctx = document.getElementById("myChart").getContext('2d');
                            var myChart = new Chart(ctx, {
                              type: 'doughnut',
                              data: {
                                labels: ["Credits Left", "CPU Credits",],
                                datasets: [{
                                  backgroundColor: [
                                    "#d9534f",
                                    "#5cb85c",
                                    
                                  ],
                                  data: la
                                }]
                              }
                            });
                                                      }   
                            </script>      
            </div>
          
          </div> -->
       
</div>
      </div>
      <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
  {% endblock %}
