<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script type=text/javascript>
    var gt;
    var la;
    sol=0;
           window.onload = function exampleFunction() { 
            $("#loading").hide();
            fetch() 

}
function loading(){
            if (sol == 0 ) {
           $("#loading").hide();
           $("#content1").show();       
         }
         else{
          $("#loading").show();
           $("#content1").hide(); 
         }
         };
function reload() {
  setTimeout(function() {
            document.location.reload()
            }, 20000);
}         
function stop(){
      console.log("stop")
      $.ajax({
        url:'/stop',
        type:"GET",
        dataType: "JSON",
        data:'',
        success:function(data){
          sol=1;
          loading()
          reload()
          
            

          console.log(data)
}})}

function start(){
      console.log("start")
      $.ajax({
        url:'/start',
        type:"GET",
        dataType: "JSON",
        data:'',
        success:function(data){
          sol=1;
          loading()
          reload()

          console.log(data)
}})}
      






    function fetch(){
      console.log("hii")
      $.ajax({
        url:'/details',
        type:"GET",
        dataType: "JSON",
        data:'',
        success:function(data){
          
          gt= data.results['CPU Credits'].split('/');
          la=[gt[1]-gt[0], parseInt(gt[1])];
          console.log([gt[1]-gt[0], parseInt(gt[1])])
          
          var trhtml="";
          $.each(data.results,function(key,value){
            trhtml += '<tr class="tableizer-firstrow"><th class="bg-color-blue "style=" padding: 10px !important;background: ;text-align: center; color: white;">' + key + '</th><td   style="border: 4px solid #fff !important;padding: 10px !important;background: #f8f8f8 !important;">' + value + '</td></tr>';
})

$('#tble').empty().append(trhtml);     
canva();
$("#tcrow").show();
        }, 
                     error: function(xhr, status, error)  {  
                         console.log(xhr);  
                     } 
      })
    }  
</script>

</head>
<body>
  


<div id="wrapper">


{% block content %}{% endblock %} 


</div>






    


<script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
</body>
</html>
